body {
    background-image: url('../images/concrete_seamless.png');
    padding: 0;
    width: 200px;
    height: 200px;
}

a,
a:hover {
    text-decoration: none;
}


.aboutWrapper,
.portfolioWrapper,
.contactWrapper {
    margin-bottom: 100px;
}


/* navbar */

.icon-bar {
    color: #fff;
}

#myNavbar {
    color: #fff;
}


.nameHeader {
    background-color: #4aaaa5;

    padding: 5px;
    width: auto;
    text-align: center;
}

.navbar-default {
    color: #fff;
    margin: 0 auto;
    font-size: 30px;
    padding: 0;
}

.navbar-BrandTitle {
    color: white;
    margin: 0 auto;
    font-size: 30px;
    padding: 10px 14px;
}

.navbar {
    padding: 0;
}

.navStyle {
    border-bottom: solid 4px #ccc;
}

.stackOver-icon,
.github-icon,
.linkedin-icon {
    background-size: 60px;
    width: 60px;
    height: 60px;
    display: inline-block;
}

.stackOver-icon {
    background-image: url('../images/stackoverflow-128.png');
}

.linkedin-icon {
    background-image: url('../images/linkedin-128.png');
}

.github-icon {
    background-image: url('../images/github-128.png');
}

.connectLinksWrapper {
	float: right;
    margin-bottom: 80px;
}

.footer {
    background-color: #666;
    width: 100%;
    height: 60px;
    bottom: 0;
    right: 0;
    left: 0;
    clear: both;
    position: fixed;
    margin-top: 50px;
    border-top: solid 14px #4aaaa5;
}

.footer-text {
    color: #fff;
    line-height: 45px;
    font-size: 16px;
}

.aboutWrapper {
    float: left;
    background-color: #fff;
    padding: 0 40px 40px 40px;
    border: #b0b1b2 1px solid;
    border-radius: 5px;
}

.portfolioWrapper {
    background-color: #fff;
    padding: 0 40px 40px 40px;
    border: #b0b1b2 1px solid;
    border-radius: 5px;
}

.contactWrapper {
    background-color: #fff;
    padding: 0 40px 40px 40px;
    border: #b0b1b2 1px solid;
    border-radius: 5px;
}
